#cntnr-userLogin {
  background-image: url("/src/assets/images/white-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: smaller;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;

  & > div {
    min-width: 500px;
  }

  label,
  a {
    margin: 0;
    font-weight: 500;
    cursor: pointer;
  }

  *:focus {
    box-shadow: none;
  }
}
